mat-sidenav-container {
    position: absolute;
    width: 100%;
    top: 64px;
    bottom: 64px;
    overflow: hidden;
}

.header-icon{
    text-align: right;
    height: 50px;
    right: 10px;
    position: absolute;
}